pandas==2.0.3
numpy==1.24.3
matplotlib==3.7.1
seaborn==0.12.2
plotly==5.11.0
scikit-learn==1.2.2
pandas-ta==0.5.0b1
psycopg2-binary==2.9.3
streamlit==1.19.0
pytest==7.4.0
mysql-connector-python==8.0.33
sqlalchemy==2.0.14
